* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #4891ff;
  --light-color: #f4f4f6;
  --dark-color: #111;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #fff;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Navbar */
.navbar {
  background: #fff;
  padding: 20px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .main-menu ul {
  display: flex;
}

.navbar ul li a {
  padding: 10px 20px;
  display: block;
  font-weight: 600;
  transition: 0.4s;
}

.navbar ul li a:hover {
  color: var(--primary-color);
}

/*Hero*/
.hero {
  margin-bottom: 50px;
}

.hero .container {
  background: url("../images/websitebg.png") no-repeat;
  background-size: contain;
  background-position: center bottom;
  height: 550px;
}

.hero .about {
  background: url("../images/aboutbg.png") no-repeat;
  background-size: contain;
  background-position: center bottom;
  height: 550px;
}

.hero .portfolio {
  background: url("../images/projectsbg.png") no-repeat;
  background-size: contain;
  background-position: center bottom;
  height: 550px;
}

.hero .contact-form {
  background-size: contain;
  background-position: center bottom;
  height: 100px;
}

.forms {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

/* Utility Classes */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-sm {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.about {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.portfolio {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.contact-form {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Text Classes */
.text-xxl {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
  margin: 40px 0 20px;
}

.text-xl {
  font-size: 2.2rem;
  line-height: 1.2;
  font-weight: 600;
  margin: 40px 0 20px;
}

.text-lg {
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 30px 0 20px;
}

.text-md {
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 20px 0 10px;
}

.text-sm {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 15px 0 5px;
}

.text-center {
  text-align: center;
}
